#historias_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: red;
}

#caracteristicas_div {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

#versions_div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}

#stories_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#stories_div div {
  height: 500px;
  border: 1px solid green;
  margin: 10px;
}
