@font-face {
  font-family: "avenir";
  src: url("../../../assets/fonts/avenir.otf");
}
@font-face {
  font-family: "sf";
  src: url("../../../assets/fonts/sanFrancisco.otf");
}
@font-face {
  font-family: "sfs";
  src: url("../../../assets/fonts/sanFranciscoScript.otf");
}
@font-face {
  font-family: "avenir_bold";
  src: url("../../../assets/fonts/avenir_bold.otf");
}
@font-face {
  font-family: "aloha";
  src: url("../../../assets/fonts/AlohaRegular.otf");
}
@font-face {
  font-family: "aloha_bold";
  src: url("../../../assets/fonts/AlohaBold.otf");
}

.div_contador {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 600px) {
  .div_contador {
    padding: 50px 10px;
  }
}

#counter_div {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

#counter_fixed {
  position: absolute;
  left: 5px;
  display: flex;
}
#counter_not_fixed {
  z-index: 99;
  display: flex;
  /* position: absolute; */
}
#dias_regular {
  font-size: 113px;
  font-family: "aloha";
}
#days {
  font-size: 113px;
  font-family: "aloha";
}
#dias_bold {
  font-size: 113px;
  font-family: "aloha_bold";
  color: #f5ccdf;
}
#days2 {
  font-size: 113px;
  font-family: "aloha_bold";
  color: #f5ccdf;
}

@media screen and (max-width: 600px) {
  #dias_regular {
    font-size: 70px;
  }
  #days {
    font-size: 70px;
  }
  #dias_bold {
    font-size: 70px;
  }
  #days2 {
    font-size: 70px;
  }
  #counter_fixed {
    flex-direction: column;
    text-align: center;
  }
  #counter_not_fixed {
    flex-direction: column;
    text-align: center;
  }
  .days_number {
    font-size: 130px !important;
  }
  .days_rest {
    font-size: 110px !important;
  }
}

#confirm_div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
#confirm_div div {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
#confirm_div button {
  width: 400px;
  height: 239px;
  margin: 20px;
  border: none;
  border-radius: 30px;
  background-color: #091233;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  opacity: 0.5;
}
/* #confirm_div button:hover {
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}
#confirm_div button:not(:hover) {
  transition: 0.3s;
} */

@media screen and (max-width: 600px) {
  #confirm_div {
    flex-direction: column;
    padding-bottom: 50px;
  }
  #confirm_div button {
    width: 300px;
  }
}
.first_span {
  font-family: "sf";
  font-size: 60px;
  color: #fff;
}

.second_span {
  font-family: "sfs";
  color: #ebd2df;
  font-size: 100px;
  position: absolute;
  top: 40%;
}

@media screen and (max-width: 600px) {
  .first_span {
    font-size: 50px;
  }
  .second_span {
    font-size: 80px;
  }
}

#footer_div {
  display: flex;
  width: 100%;
  background-color: #091531;
  position: absolute;
  bottom: 0;
  color: #fff;
  flex-direction: column;
  padding: 14px;
  align-items: center;
  justify-content: center;
}
#footer_div p {
  font-family: "avenir";
}

#soon_confirm {
  position: absolute;
  right: 10px;
  bottom: 80px;
}

@media screen and (max-width: 600px) {
  #soon_confirm {
    bottom: 0;
  }
}
