@font-face {
  font-family: "avenir";
  src: url("../../../assets/fonts/avenir.otf");
}
@font-face {
  font-family: "avenir_bold";
  src: url("../../../assets/fonts/avenir_bold.otf");
}
@font-face {
  font-family: "aloha";
  src: url("../../../assets/fonts/AlohaRegular.otf");
}
@font-face {
  font-family: "aloha_bold";
  src: url("../../../assets/fonts/AlohaBold.otf");
}
#resumo {
  height: 100%;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px;
}

@media screen and (max-width: 600px) {
  #resumo {
    flex-direction: column;
  }
}

#park_image_div {
  width: 40%;
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  #park_image_div {
    width: 100%;
  }
}
#park_image_div img {
  height: 80%;
  width: 90%;
}

#resume_div {
  height: 100%;
  flex: 1;
  padding: 20px;
}

#resume_header {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

/* spans */

#about_span {
  font-size: 30px;
  font-family: "avenir";
}
#resume_span_regular {
  font-size: 113px;
  font-family: "aloha";
  z-index: 999;
}
#resume_span_bold {
  font-size: 113px;
  font-family: "aloha_bold";
  color: #f5ccdf;
  position: absolute;
  top: 25px;
  left: 10px;
}
#resume_div p {
  font-family: "avenir_bold";
  font-size: 41px;
  color: #0e0838;
}
#p_1 {
  opacity: 0.5;
}
#p_2 {
  opacity: 0.6;
}
#p_3 {
  opacity: 0.7;
}
#p_4 {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  #resume_span_regular {
    font-size: 60px;
  }
  #resume_span_bold {
    font-size: 60px;
  }
  #resume_div {
    padding: 0;
  }
  #resume_div p {
    font-size: 18px;
  }
}
