@font-face {
  font-family: "avenir";
  src: url("../../../assets/fonts/avenir.otf");
}
@font-face {
  font-family: "avenir_bold";
  src: url("../../../assets/fonts/avenir_bold.otf");
}

.div_cards {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .div_cards {
    height: 100%;
  }
}
#dia_sim {
  font-family: "avenir_bold";
}
.div_cards p {
  padding: 10px 10%;
  font-family: "avenir";
}

#container_cards {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  /* padding: 2%; */
}

@media screen and (max-width: 600px) {
  #container_cards {
    display: flex;
    flex-direction: column;
  }
}

#item_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20px 0;
}

#card_1 {
  display: flex;
  flex-direction: row;

  background: #efcfdf;
  height: 47%;
  width: 80%;
  margin-left: 10%;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgb(214, 213, 213);
  padding: 20px;
}
@media screen and (max-width: 600px) {
  #card_1 {
    margin: 10px 0;
  }
  #item_cards {
    width: 100%;
  }
}
#icon_div {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#icon_div img {
  width: 80px;
  height: 160px;
  max-height: 80%;
  max-width: 60%;
}

@media screen and (max-width: 600px) {
  #icon_div img {
    max-height: 50%;
  }
}

#info {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
}
/* #info span{
    padding: 4px;
} */
#cerimony {
  color: #0e0838;
  opacity: 0.6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#time {
  color: #0e0838;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#place {
  color: #0e0838;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#adress {
  color: #0e0838;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  #place {
    font-size: 23px;
  }
  #adress {
    font-size: 16px;
  }
}
#btns_info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#btns_info button {
  width: 49%;
  padding: 10px 0;
  border-radius: 25px;
  background: #fff;
  border: none;
}

@media screen and (max-width: 600px) {
  #btns_info {
    flex-direction: column;
  }
  #btns_info button {
    width: 100%;
    margin: 5px 0;
  }
}
#btns_info button:hover {
  cursor: pointer;
}
#waze_link {
  color: #9cc4d1;
  text-decoration: none;
  font-size: large;
  font-family: "avenir";
}
#maps_link {
  color: #449c72;
  text-decoration: none;
  font-size: large;
  font-family: "avenir";
}
#card_2 {
  display: flex;
  background: #fff;
  flex-direction: row;
  padding: 10px;
  height: 30%;
  width: 80%;
  margin-right: 10%;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgb(214, 213, 213);
  font-family: "avenir";
  padding: 10px;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  #card_2 {
    margin: 10px 0;
    height: 270px;
  }
}
#info_suit {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  opacity: 0.5;
}
#suit {
  font-family: "avenir_bold";
  color: #0b0e35;
}
#suit_tips {
  font-family: "avenir";
  font-size: 15px;
}

#uber {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
#uber #title {
  font-size: 16px !important;
  font-family: "avenir_bold" !important;
}

#uber button {
  background-color: #333333;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  border: none;
  width: 100%;
  cursor: pointer;
}
#uber_request {
  font-size: 10px !important;
}
#uber a {
  text-decoration: none;
  color: #fff;
  font-family: "avenir_bold";
}
#camera_icon {
  height: 40% !important;
  width: 50% !important;
  opacity: 0.5;
}
.camera_div {
  width: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hashtag_title {
  font-size: 16px;
  font-family: "avenir_bold";
}
#filter_button {
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 15px;
  background-color: #f5ccdf;
  padding: 10px;
  font-family: "avenir_bold";
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  #camera_icon {
    height: 20% !important;
    width: 80px !important;
  }
  .suit_card {
    display: none !important;
  }
}

#soon_icon {
  position: absolute;
}

.big_circle {
  width: 30px !important;
  height: 30px !important;
  border-radius: 15px;
  margin-bottom: 10px;
  left: 400px;
  transform-origin: 1px;
  position: relative;
  animation: rotate 3s linear infinite;
  background-color: #efcfdf;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
